/* 
This ensures that the video poster is 
always the size of the video
*/
video {
    object-fit:cover;
}

/* forcefully hide the shaka's seek bar */
.shaka-seek-bar-container {
    display: none;
}

/*customize current-time control */ 
/* .shaka-current-time {
    display: none;
} */

/*customize fullscreen control */ 
/* .shaka-fullscreen-button {
    display: none;
} */

/*customize mute control */ 
.shaka-mute-button {
    display: none;
}

/*customize volume bar control */ 
.shaka-volume-bar-container {
    display: none;
}

/*customize volume bar control */ 
.shaka-overflow-menu-button {
    display: none;
}

/* .shaka-controls-container {
    justify-content: flex-start;

} */

.dmp-phrase-bar-container {

    background-color: yellow;
    height: 10%;
    width: 100%;
    opacity: 0;
    transition: opacity cubic-bezier(0.4, 0, 0.6, 1) 600ms;
    z-index: 3;
    position:absolute;
    cursor: pointer;
}

.dmp-time-controls-container {
    /* background-color: #634e91 ; */
    background-color: transparent;
    height: 10%;
    width: 99%;
    opacity: 0;
    transition: opacity cubic-bezier(0.4, 0, 0.6, 1) 600ms;
    z-index: 2;
    position: absolute;
    bottom: 10%;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items:flex-end;
}



.dmp-phrase-navigation-container {
    /* background-color: #634e91 ; */
    background-color: transparent;
    height: 10%;
    width: 80%;
    opacity: 0;
    transition: opacity cubic-bezier(0.4, 0, 0.6, 1) 600ms;
    z-index: 2;
    position: absolute;
    bottom: 15%;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items:center;
}


.dmp-sec-button-controls-container {
    /* background-color: #634e91 ; */
    background-color: transparent;
    height: 10%;
    width: 100%;
    opacity: 0;
    transition: opacity cubic-bezier(0.4, 0, 0.6, 1) 600ms;
    z-index: 2;
    position: absolute;
    top: 5%;
    display: flex;
    flex-direction: row;
    justify-content:right;
    align-items: center;
    padding-right: 5%;
}


.dmp-phrase-navigation-container > * {

    background-color: #ffc7e8;;
    color: #634e91;
    /* height: 100px; */
    /* line-height: 0.5; */
    margin: 1px;
    /* padding: 0 5px; */
    padding: calc(2.5% / 2);
    /* background: transparent; */
    border: 0;
    cursor: pointer;
    box-sizing: border-box;
    border-radius: 50%;
}

.shaka-controls-container[shown="true"] .dmp-phrase-bar-container,
.shaka-controls-container[shown="true"] .dmp-phrase-navigation-container,
.shaka-controls-container[shown="true"] .dmp-sec-button-controls-container,  
.shaka-controls-container[shown="true"] .dmp-time-controls-container  
 {

    opacity: 1;
}


.dmp-phrase-bar {

    /*background-color:  #E4B3D1;*/
    background: linear-gradient(to right,  #ccc000, #fcff00 95%, white );
    height: 100%;
    /*width: 20px;*/
    border-left: 0px solid #634e91;
    display:inline-block;
}

/* don't provide border to first phrase*/
.dmp-phrase-bar:first-of-type {
    border-left: 0px;
  }

/* animation for the current phrase*/
@keyframes dmp-current-phrase-bar-animation {
    0% {background: #B31B1B;}
    100% {background: #ff2626;}
    /*100% {background: #ffc7e8;}*/
  }

/* highlight the current phrase*/
.dmp-current-phrase-bar {
    animation-name: dmp-current-phrase-bar-animation;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate-reverse;
}


/* customize bottom controls to remove bottom padding and make width 100%*/
.shaka-bottom-controls {
    width: 100%;
    padding: 0;
    z-index: 1;
}


.shaka-scrim-container {
    display: none;
}

.shaka-play-button{
    /* background-color:#ffc7e8; */
    /* background-color: #FFDF00; */
    background-color: #B31B1B;
}

.shaka-play-button[icon=play] {
    background-image: url("play_arrow.svg");
}

.shaka-play-button[icon=pause] {
    background-image: url("pause.svg");
}

.dmp-material-icons-round {
    font-family: "Material Icons Round";
    font-size:2.5vw;
  }


.shaka-play-button-container {
    height: 80%;
}



.dmp-sec-button-controls-container > * {
    background-color: #ffc7e8;;
    color: #634e91;
    /* height: 100px; */
    /* line-height: 0.5; */
    margin: 1px;
    padding: calc(2.5% / 2);
    /* background: transparent; */
    border: 0;
    cursor: pointer;
    box-sizing: border-box;
    border-radius: 50%;
}

.dmp-settings-button {
    font-size:1.5vw;
    background-color: gray;
    color: white;
}

.dmp-pitch-button, .dmp-tempo-button {
    font-size:2.5vw;
    background-color: #049940;
    color: #FFDF00;

}

.dmp-loop-phrase-button, .dmp-prev-phrase-button, .dmp-next-phrase-button {
    font-size:2.5vw;
    background-color: #B31B1B;
    color: #FFDF00;
}

.dmp-subtitle-button{
    font-size: 2.5vw;
    background-color: gray;
    color: white;
}

.dmp-fullscreen-button {
    font-size: 2.5vw;
    background-color: gray;
    color: white;
}

/*  Override the buffering spinner. 
    reduce the height to 90% to 
    center the spinnner
*/
.shaka-spinner-container {
    height: 80%;
    width: 100%;
}
  
.dmp-current-time {
    font-size: 1vw;
    color: white;
    cursor: pointer;  
  }
  

.dmp-time-controls-container > * {

    background-color: #B31B1B;
    color: #FFDF00;
    /* height: 100px; */
    /* line-height: 0.5; */
    /* margin: .1vw; */
    /* padding: 0 5px; */
    /* padding: calc(2.5% / 2); */
    /* background: transparent; */
    border: 0;
    cursor: pointer;
    box-sizing: border-box;
    border-radius: 5%;
}
